.cm-editor {
    /*border: 1px solid red;*/
    word-break: break-word;
    height:100%;
    font-size: 16px;
    padding: 1rem;
    border-radius: 8px;

}

.cm-content {
    /*[>border: 1px solid red;<]*/
    word-break: break-word;
    white-space: pre-wrap !important;
    /*[>overflow-x: hidden;<]*/
}

.CodeMirror-wrap pre {
    word-break: break-word;
}

.cke_reset_all .CodeMirror-scroll * {
    white-space: pre;
}

.cke_reset_all .CodeMirror-scroll * {
    white-space: pre-wrap;
}
